USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[InsertProfileImage]    Script Date: 8/4/2025 10:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertProfileImage]
	@UserCode NVARCHAR(50),
	@ImageUrl NVARCHAR(MAX),
	@CompanyCode BIGINT
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO TB_ProfileImages 
	(
	 UserCode,
	 ImageURL,
	 CreatedOn,
	 CompanyCode
	 
	)
	VALUES
	(
	 @UserCode,
	 @ImageURL,
	 GetDate(),
	 @CompanyCode
	);

	SELECT SCOPE_IDENTITY() AS ImageId;  -- Return the generated BannerId
  
   
END
GO
