USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetCustomerOutstandingReport]    Script Date: 10/1/2025 11:38:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetCustomerOutstandingReport]
    @CompanyCode    BIGINT,
    @CustomerCodes  NVARCHAR(MAX),
    @RoleId         INT,
    @Offset         INT = 0,
    @PageSize       INT = 25
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CustomerCodeTable TABLE (CustomerCode NVARCHAR(50));
    INSERT INTO @CustomerCodeTable (CustomerCode)
    SELECT LTRIM(RTRIM(value)) FROM STRING_SPLIT(@CustomerCodes, ',');

    -- One temp table for all roles
    IF OBJECT_ID('tempdb..#Src') IS NOT NULL DROP TABLE #Src;
    CREATE TABLE #Src
    (
        CompanyCode     BIGINT,
        CustomerCode    NVARCHAR(50),
        CustomerName    NVARCHAR(200),
        [0_30_Days]     DECIMAL(18,2) NULL,
        [31_60_Days]    DECIMAL(18,2) NULL,
        [61_90_Days]    DECIMAL(18,2) NULL,
        [91_120_Days]   DECIMAL(18,2) NULL,
        [121_150_Days]  DECIMAL(18,2) NULL,
        [151_180_Days]  DECIMAL(18,2) NULL,
        [181_210_Days]  DECIMAL(18,2) NULL,
        [210_365_Days]  DECIMAL(18,2) NULL,
        [Over_365_Days] DECIMAL(18,2) NULL,
        TLAMT           DECIMAL(18,2) NULL,
        GLAccount       NVARCHAR(50)  NULL
    );

    INSERT INTO #Src(CompanyCode, CustomerCode, CustomerName,
                     [0_30_Days],[31_60_Days],[61_90_Days],[91_120_Days],
                     [121_150_Days],[151_180_Days],[181_210_Days],[210_365_Days],[Over_365_Days],
                     TLAMT, GLAccount)
    SELECT 
        CompanyCode,
        CustomerCode,
        CustomerName,
        ISNULL([0_30_Days],0),
        ISNULL([31_60_Days],0),
        ISNULL([61_90_Days],0),
        ISNULL([91_120_Days],0),
        ISNULL([121_150_Days],0),
        ISNULL([151_180_Days],0),
        ISNULL([181_210_Days],0),
        ISNULL([210_365_Days],0),
        ISNULL([Over_365_Days],0),
        ISNULL(TLAMT,0),
        GLAccount
    FROM TB_CustomerAgeingReport
    WHERE CompanyCode = @CompanyCode
      AND CustomerCode IN (SELECT CustomerCode FROM @CustomerCodeTable);

    -- 1) Total over ALL filtered rows
    SELECT COUNT(1) AS TotalCount FROM #Src;

    -- 2) Distinct customers over ALL filtered rows (NOT paged)
    SELECT DISTINCT CustomerCode, CustomerName
    FROM #Src
    ORDER BY CustomerCode;

    -- 3) Paged rows (projection per RoleId)
    IF @RoleId = 1
    BEGIN
        SELECT 
            CompanyCode,
            CustomerCode,
            CustomerName,
            (ISNULL([0_30_Days],0) + ISNULL([31_60_Days],0) + ISNULL([61_90_Days],0)) AS [0_90_Days],
            ISNULL([91_120_Days],0)                                                  AS [91_120_Days],
            (ISNULL([121_150_Days],0) + ISNULL([151_180_Days],0) + ISNULL([181_210_Days],0)
             + ISNULL([210_365_Days],0) + ISNULL([Over_365_Days],0))                 AS [Over_120_Days],
            TLAMT,
            GLAccount
        FROM #Src
        ORDER BY CustomerCode
        OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
    END
    ELSE
    BEGIN
        SELECT 
            CompanyCode,
            CustomerCode,
            CustomerName,
            [0_30_Days],[31_60_Days],[61_90_Days],[91_120_Days],
            [121_150_Days],[151_180_Days],[181_210_Days],[210_365_Days],[Over_365_Days],
            TLAMT,
            GLAccount
        FROM #Src
        ORDER BY CustomerCode
        OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
    END
END

GO
