USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[Get_PriceCard]    Script Date: 9/22/2025 12:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_PriceCard]
    @CompanyCode   BIGINT,
    @Status        BIT           = NULL,
    @PriceCardType NVARCHAR(10)  = NULL,
    @Variety       NVARCHAR(100) = NULL,
    @CustomerCode  NVARCHAR(50)  = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -------------------------------------------------------------------------
    -- Resolve the input role (if @CustomerCode is actually a user code)
    -------------------------------------------------------------------------
    DECLARE @InputRoleId INT = NULL;

    SELECT TOP (1) @InputRoleId = u.RoleId
    FROM dbo.Users u
    WHERE u.CompanyCode = @CompanyCode
      AND LTRIM(RTRIM(u.UserCode)) = LTRIM(RTRIM(@CustomerCode));

    IF @InputRoleId IS NULL
        SET @InputRoleId = 1;  -- treat as Customer when not found

    -------------------------------------------------------------------------
    -- Resolve single-customer state (legacy behavior)
    -------------------------------------------------------------------------
    DECLARE @CustomerState NVARCHAR(100) = NULL;

    IF (@CustomerCode IS NOT NULL AND @InputRoleId = 1)
    BEGIN
        SELECT @CustomerState = LTRIM(RTRIM(cm.RegionDescription))
        FROM dbo.TB_CustomerMaster AS cm
        WHERE cm.CompanyCode  = @CompanyCode
          AND LTRIM(RTRIM(cm.CustomerCode)) = LTRIM(RTRIM(@CustomerCode));
    END

    -------------------------------------------------------------------------
    -- Build visible customer set for TM/RM/ZM (normalized + flattened)
    -------------------------------------------------------------------------
    IF OBJECT_ID('tempdb..#VisibleCustomers') IS NOT NULL DROP TABLE #VisibleCustomers;
    CREATE TABLE #VisibleCustomers
    (
        CustomerCode       NVARCHAR(50) NOT NULL,
        RegionDescription  NVARCHAR(100) NULL
    );

    IF @CustomerCode IS NOT NULL AND @InputRoleId IN (2,3,4)
    BEGIN
        -- Normalized path containers
        IF OBJECT_ID('tempdb..#RMs') IS NOT NULL DROP TABLE #RMs;
        IF OBJECT_ID('tempdb..#TMs') IS NOT NULL DROP TABLE #TMs;
        CREATE TABLE #RMs (RMCode NVARCHAR(50) PRIMARY KEY);
        CREATE TABLE #TMs (TMCode NVARCHAR(50) PRIMARY KEY);

        -- Collect RMs/TMs beneath current user per role
        IF @InputRoleId = 2
        BEGIN
            -- TM
            INSERT INTO #TMs(TMCode) VALUES (LTRIM(RTRIM(@CustomerCode)));
        END
        ELSE IF @InputRoleId = 3
        BEGIN
            -- RM -> TMs where Users.RepManCode = RM.UserCode
            INSERT INTO #TMs(TMCode)
            SELECT DISTINCT LTRIM(RTRIM(u.UserCode))
            FROM dbo.Users u
            WHERE u.CompanyCode = @CompanyCode
              AND u.RoleId = 2
              AND LTRIM(RTRIM(u.RepManCode)) = LTRIM(RTRIM(@CustomerCode));
        END
        ELSE IF @InputRoleId = 4
        BEGIN
            -- ZM -> RMs
            INSERT INTO #RMs(RMCode)
            SELECT DISTINCT LTRIM(RTRIM(u.UserCode))
            FROM dbo.Users u
            WHERE u.CompanyCode = @CompanyCode
              AND u.RoleId = 3
              AND LTRIM(RTRIM(u.RepManCode)) = LTRIM(RTRIM(@CustomerCode));

            -- ZM -> TMs under those RMs
            INSERT INTO #TMs(TMCode)
            SELECT DISTINCT LTRIM(RTRIM(u.UserCode))
            FROM dbo.Users u
            INNER JOIN #RMs r ON LTRIM(RTRIM(u.RepManCode)) = r.RMCode
            WHERE u.CompanyCode = @CompanyCode
              AND u.RoleId = 2;
        END

        -- (B) Customers linked via TB_CustomerMaster.TM (normalized)
        INSERT INTO #VisibleCustomers(CustomerCode, RegionDescription)
        SELECT DISTINCT LTRIM(RTRIM(cm.CustomerCode)),
                        LTRIM(RTRIM(cm.RegionDescription))
        FROM dbo.TB_CustomerMaster cm
        INNER JOIN #TMs t ON LTRIM(RTRIM(cm.TM)) = t.TMCode
        WHERE cm.CompanyCode = @CompanyCode;

        -- (C) Customers linked via Users.RepManCode (flattened to ZM/RM/TM)
        IF OBJECT_ID('tempdb..#MgrCodes') IS NOT NULL DROP TABLE #MgrCodes;
        CREATE TABLE #MgrCodes (MgrCode NVARCHAR(50) PRIMARY KEY);

        IF @InputRoleId = 2
        BEGIN
            INSERT INTO #MgrCodes(MgrCode) VALUES (LTRIM(RTRIM(@CustomerCode))); -- TM
        END
        ELSE IF @InputRoleId = 3
        BEGIN
            INSERT INTO #MgrCodes(MgrCode) VALUES (LTRIM(RTRIM(@CustomerCode))); -- RM
            INSERT INTO #MgrCodes(MgrCode) SELECT TMCode FROM #TMs;             -- TMs under RM
        END
        ELSE IF @InputRoleId = 4
        BEGIN
            INSERT INTO #MgrCodes(MgrCode) VALUES (LTRIM(RTRIM(@CustomerCode))); -- ZM
            INSERT INTO #MgrCodes(MgrCode) SELECT RMCode FROM #RMs;              -- RMs under ZM
            INSERT INTO #MgrCodes(MgrCode) SELECT TMCode FROM #TMs;              -- TMs under ZM
        END

        INSERT INTO #VisibleCustomers(CustomerCode, RegionDescription)
        SELECT DISTINCT LTRIM(RTRIM(cu.UserCode)) AS CustomerCode,
               LTRIM(RTRIM(cm.RegionDescription)) AS RegionDescription
        FROM dbo.Users cu
        LEFT JOIN dbo.TB_CustomerMaster cm
               ON cm.CompanyCode = cu.CompanyCode
              AND LTRIM(RTRIM(cm.CustomerCode)) = LTRIM(RTRIM(cu.UserCode))
        WHERE cu.CompanyCode = @CompanyCode
          AND cu.RoleId = 1
          AND EXISTS (
                SELECT 1
                FROM #MgrCodes m
                WHERE LTRIM(RTRIM(cu.RepManCode)) = m.MgrCode
          );

        -- De-dup
        ;WITH d AS (
          SELECT CustomerCode, RegionDescription,
                 ROW_NUMBER() OVER (PARTITION BY CustomerCode ORDER BY CustomerCode) AS rn
          FROM #VisibleCustomers
        )
        DELETE FROM d WHERE rn > 1;

        -- Indexes for fast EXISTS lookups
        CREATE NONCLUSTERED INDEX IX_VisCust_Code  ON #VisibleCustomers(CustomerCode);
        CREATE NONCLUSTERED INDEX IX_VisCust_State ON #VisibleCustomers(RegionDescription);
    END

    -------------------------------------------------------------------------
    -- Condition Table Priority (unchanged)
    -------------------------------------------------------------------------
    DECLARE @ConditionTablePriority TABLE (PriorityOrder INT, ConditionTable NVARCHAR(5));
    INSERT INTO @ConditionTablePriority (PriorityOrder, ConditionTable)
    VALUES (1, 'A860'), (2, 'A935'), (3, 'A933'), (4, 'A862'), (5, 'A559');

    -------------------------------------------------------------------------
    -- Main query
    -------------------------------------------------------------------------
    SELECT 
        pc.Id, 
        pc.PriceCardType, 
        pc.Variety, 
        pc.Product, 
        pc.Generation, 
        pc.Grade, 
        gs.Size AS Size,  
        pc.BookingPrice,
        pc.State,
        pc.DestinationState,
        pc.PrimaryRatio,
        pc.SecondaryVariety,
        pc.SecondaryProduct,
        pc.SecondaryGeneration,
        pc.SecondaryGrade,
        gs2.Size AS SecondarySize,  
        pc.SecondaryBookingPrice,
        pc.SecondaryRatio,
        pc.CreatedOn,
        pc.ConditionTable,
        pc.Status,
        COALESCE(primary_cond.Condition_Amount,   0) AS condition_amount,
        COALESCE(secondary_cond.Condition_Amount, 0) AS secondaryCondition_amount
    FROM dbo.TB_PriceCard AS pc
    LEFT JOIN dbo.TB_GradeSize AS gs  ON pc.Grade          = gs.Grade
    LEFT JOIN dbo.TB_GradeSize AS gs2 ON pc.SecondaryGrade = gs2.Grade

    /* PRIMARY condition amount */
    OUTER APPLY (
        SELECT TOP 1 pm.Condition_Amount
        FROM dbo.TB_PriceMaster pm WITH (INDEX(IDX_TB_PriceMaster_Search))
        LEFT JOIN @ConditionTablePriority ctp ON ctp.ConditionTable = pm.Condition_Table
        LEFT JOIN dbo.TB_StateRegionMap srm   ON LTRIM(RTRIM(srm.StateName)) = LTRIM(RTRIM(pc.DestinationState))
        LEFT JOIN dbo.TB_Plant_State ps      ON LTRIM(RTRIM(ps.State)) = LTRIM(RTRIM(pc.State))
        WHERE pm.CompanyCode        = @CompanyCode
          AND pm.Condition_Type     = 'ZB01'
          AND pm.Material_Description LIKE '%' + pc.Variety    + '%'
          AND pm.Material_Description LIKE '%' + pc.Product    + '%'
          AND pm.Material_Description LIKE '%' + pc.Generation + '%'
          AND pm.Material_Description LIKE '%' + pc.Grade      + '%'
          AND (pm.Valid_From IS NULL OR pm.Valid_From <= CONVERT(date, GETDATE()))
          AND (pm.Valid_To   IS NULL OR pm.Valid_To   >= CONVERT(date, GETDATE()))
          AND (
                (pc.CustomerCode IS NOT NULL AND pm.Condition_Table = 'A860'
                 AND LTRIM(RTRIM(pm.Customer_Number)) = LTRIM(RTRIM(pc.CustomerCode)))
                OR
                (pc.State IS NOT NULL AND pc.DestinationState IS NOT NULL
                 AND pm.Condition_Table IN ('A706','A516')
                 AND pm.Region = srm.RegionCode
                 AND pm.Plant  = ps.Plant)
                OR
                (pc.DestinationState IS NOT NULL
                 AND pm.Condition_Table = 'A935'
                 AND pm.Region = srm.RegionCode)
              )
        ORDER BY
            CASE
                WHEN pc.CustomerCode IS NOT NULL AND pm.Condition_Table = 'A860' THEN 0
                WHEN pc.State IS NOT NULL AND pc.DestinationState IS NOT NULL AND pm.Condition_Table IN ('A706','A516') THEN 1
                WHEN pc.DestinationState IS NOT NULL AND pm.Condition_Table = 'A935' THEN 2
                ELSE 99
            END,
            pm.Id DESC
    ) AS primary_cond

    /* SECONDARY condition amount */
    OUTER APPLY (
        SELECT TOP 1 pm.Condition_Amount
        FROM dbo.TB_PriceMaster pm WITH (INDEX(IDX_TB_PriceMaster_Search))
        LEFT JOIN @ConditionTablePriority ctp ON ctp.ConditionTable = pm.Condition_Table
        LEFT JOIN dbo.TB_StateRegionMap srm   ON LTRIM(RTRIM(srm.StateName)) = LTRIM(RTRIM(pc.DestinationState))
        LEFT JOIN dbo.TB_Plant_State ps      ON LTRIM(RTRIM(ps.State)) = LTRIM(RTRIM(pc.State))
        WHERE pm.CompanyCode        = @CompanyCode
          AND pm.Condition_Type     = 'ZB01'
          AND pm.Material_Description LIKE '%' + pc.SecondaryVariety    + '%'
          AND pm.Material_Description LIKE '%' + pc.SecondaryProduct    + '%'
          AND pm.Material_Description LIKE '%' + pc.SecondaryGeneration + '%'
          AND pm.Material_Description LIKE '%' + pc.SecondaryGrade      + '%'
          AND (pm.Valid_From IS NULL OR pm.Valid_From <= CONVERT(date, GETDATE()))
          AND (pm.Valid_To   IS NULL OR pm.Valid_To   >= CONVERT(date, GETDATE()))
          AND (
                (pc.CustomerCode IS NOT NULL AND pm.Condition_Table = 'A860'
                 AND LTRIM(RTRIM(pm.Customer_Number)) = LTRIM(RTRIM(pc.CustomerCode)))
                OR
                (pc.State IS NOT NULL AND pm.Condition_Table = 'A516' AND pm.Plant = ps.Plant)
                OR
                (pc.State IS NOT NULL AND pc.DestinationState IS NOT NULL
                 AND pm.Condition_Table = 'A706'
                 AND pm.Region = srm.RegionCode
                 AND pm.Plant  = ps.Plant)
                OR
                (pc.DestinationState IS NOT NULL
                 AND pm.Condition_Table = 'A935'
                 AND pm.Region = srm.RegionCode)
              )
        ORDER BY
            CASE
                WHEN pc.CustomerCode IS NOT NULL AND pm.Condition_Table = 'A860' THEN 0
                WHEN pc.State IS NOT NULL        AND pm.Condition_Table = 'A516' THEN 1
                WHEN pc.State IS NOT NULL AND pc.DestinationState IS NOT NULL AND pm.Condition_Table = 'A706' THEN 2
                WHEN pc.DestinationState IS NOT NULL AND pm.Condition_Table = 'A935' THEN 3
                ELSE 99
            END,
            pm.Id DESC
    ) AS secondary_cond

    WHERE
        (@Status IS NULL OR pc.Status = @Status)
        AND (@PriceCardType IS NULL OR pc.PriceCardType = @PriceCardType)
        AND (@Variety IS NULL OR pc.Variety = @Variety)

        AND
        (
            -- (1) No customer context -> show all
            @CustomerCode IS NULL

            -- (2) Pure customer context (legacy)
            OR (@InputRoleId = 1 AND (
                    (pc.CustomerCode IS NOT NULL
                     AND LTRIM(RTRIM(pc.CustomerCode)) = LTRIM(RTRIM(@CustomerCode)))
                    OR
                    (pc.DestinationState IS NOT NULL
                     AND @CustomerState IS NOT NULL
                     AND LTRIM(RTRIM(pc.DestinationState)) = LTRIM(RTRIM(@CustomerState))
                     AND (pc.State = 'Punjab'
                          OR LTRIM(RTRIM(pc.State)) = LTRIM(RTRIM(@CustomerState))))
               ))

            -- (3) Hierarchy users (TM/RM/ZM)
            OR (
                @CustomerCode IS NOT NULL
                AND @InputRoleId IN (2,3,4)
                AND EXISTS (SELECT 1 FROM #VisibleCustomers)
                AND (
                    -- A860 visibility: any of their customers
                    EXISTS (
                        SELECT 1
                        FROM #VisibleCustomers v
                        WHERE v.CustomerCode = pc.CustomerCode
                    )
                    OR
                    -- State-based visibility:
                    -- Dest matches any customer region AND ExState is Punjab or same region
                    (
                        EXISTS (
                            SELECT 1 FROM #VisibleCustomers v
                            WHERE v.RegionDescription IS NOT NULL
                              AND LTRIM(RTRIM(v.RegionDescription)) = LTRIM(RTRIM(pc.DestinationState))
                        )
                        AND
                        (
                            pc.State = 'Punjab'
                            OR EXISTS (
                                SELECT 1 FROM #VisibleCustomers v2
                                WHERE v2.RegionDescription IS NOT NULL
                                  AND LTRIM(RTRIM(v2.RegionDescription)) = LTRIM(RTRIM(pc.State))
                            )
                        )
                    )
                )
              )
        );
END
GO
