USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[DeleteProfileImage]    Script Date: 8/4/2025 10:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteProfileImage]
	@UserCode NVARCHAR(50)
AS
BEGIN

     DELETE FROM TB_ProfileImages
     WHERE UserCode = @UserCode;
END
GO
