USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetHierarchyByUser_RSM]    Script Date: 9/30/2025 3:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetHierarchyByUser_RSM]
    @CompanyCode BIGINT,
    @UserCode    NVARCHAR(50),
    @RoleId      INT,
    @Offset      INT = 0,
    @PageSize    INT = 25
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF @RoleId NOT IN (1,2,3,4,5,6,7) RETURN;
        IF @RoleId = 1 RETURN;

        -- Create temp table ONCE (avoid multi-definition compile error)
        IF OBJECT_ID('tempdb..#Customers') IS NOT NULL DROP TABLE #Customers;

        CREATE TABLE #Customers
        (
            UserCode    NVARCHAR(50)  NOT NULL,
            CompanyCode BIGINT        NOT NULL,
            UserType    NVARCHAR(50)  NULL,
            Name        NVARCHAR(200) NULL,
            Email       NVARCHAR(256) NULL,
            RepManCode  NVARCHAR(50)  NULL,
            IsActive    BIT           NOT NULL,
            RoleId      INT           NOT NULL,
            UserId      BIGINT        NOT NULL
        );

        ---------------------------------------------------------------------
        -- TM (2)
        ---------------------------------------------------------------------
        IF @RoleId = 2
        BEGIN
            TRUNCATE TABLE #Customers;

            ;WITH HierarchyChain AS (
                SELECT U.UserCode, U.RoleId
                FROM dbo.Users U
                WHERE U.UserCode = @UserCode AND U.RoleId = 2 AND U.CompanyCode = @CompanyCode
                UNION ALL
                SELECT C.UserCode, C.RoleId
                FROM dbo.Users C
                INNER JOIN HierarchyChain HC ON C.RepManCode = HC.UserCode
                WHERE C.CompanyCode = @CompanyCode AND C.IsActive = 1
            )
            INSERT INTO #Customers (UserCode, CompanyCode, UserType, Name, Email, RepManCode, IsActive, RoleId, UserId)
            SELECT U.UserCode, U.CompanyCode, U.UserType, U.Name, U.Email, U.RepManCode, U.IsActive, U.RoleId, U.UserId
            FROM dbo.Users U
            INNER JOIN HierarchyChain HC ON U.UserCode = HC.UserCode
            WHERE U.RoleId = 1 AND U.CompanyCode = @CompanyCode AND U.IsActive = 1;

            SELECT COUNT(1) AS TotalCount FROM #Customers;

            SELECT *
            FROM #Customers
            ORDER BY UserCode
            OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
            RETURN;
        END

        ---------------------------------------------------------------------
        -- RM (3)
        ---------------------------------------------------------------------
        IF @RoleId = 3
        BEGIN
            TRUNCATE TABLE #Customers;

            ;WITH HierarchyChain AS (
                SELECT U.UserCode, U.RoleId
                FROM dbo.Users U
                WHERE U.UserCode = @UserCode AND U.RoleId = 3 AND U.CompanyCode = @CompanyCode
                UNION ALL
                SELECT C.UserCode, C.RoleId
                FROM dbo.Users C
                INNER JOIN HierarchyChain HC ON C.RepManCode = HC.UserCode
                WHERE C.CompanyCode = @CompanyCode AND C.IsActive = 1
            )
            INSERT INTO #Customers (UserCode, CompanyCode, UserType, Name, Email, RepManCode, IsActive, RoleId, UserId)
            SELECT U.UserCode, U.CompanyCode, U.UserType, U.Name, U.Email, U.RepManCode, U.IsActive, U.RoleId, U.UserId
            FROM dbo.Users U
            INNER JOIN HierarchyChain HC ON U.UserCode = HC.UserCode
            WHERE U.RoleId = 1 AND U.CompanyCode = @CompanyCode AND U.IsActive = 1;

            SELECT COUNT(1) AS TotalCount FROM #Customers;

            SELECT *
            FROM #Customers
            ORDER BY UserCode
            OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
            RETURN;
        END

        ---------------------------------------------------------------------
        -- ZM (4)
        ---------------------------------------------------------------------
        IF @RoleId = 4
        BEGIN
            TRUNCATE TABLE #Customers;

            ;WITH HierarchyChain AS (
                SELECT U.UserCode, U.RoleId
                FROM dbo.Users U
                WHERE U.UserCode = @UserCode AND U.RoleId = 4 AND U.CompanyCode = @CompanyCode
                UNION ALL
                SELECT C.UserCode, C.RoleId
                FROM dbo.Users C
                INNER JOIN HierarchyChain HC ON C.RepManCode = HC.UserCode
                WHERE C.CompanyCode = @CompanyCode AND C.IsActive = 1
            )
            INSERT INTO #Customers (UserCode, CompanyCode, UserType, Name, Email, RepManCode, IsActive, RoleId, UserId)
            SELECT U.UserCode, U.CompanyCode, U.UserType, U.Name, U.Email, U.RepManCode, U.IsActive, U.RoleId, U.UserId
            FROM dbo.Users U
            INNER JOIN HierarchyChain HC ON U.UserCode = HC.UserCode
            WHERE U.RoleId = 1 AND U.CompanyCode = @CompanyCode AND U.IsActive = 1;

            SELECT COUNT(1) AS TotalCount FROM #Customers;

            SELECT *
            FROM #Customers
            ORDER BY UserCode
            OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
            RETURN;
        END

        ---------------------------------------------------------------------
        -- NSM (5)
        ---------------------------------------------------------------------
        IF @RoleId = 5
        BEGIN
            TRUNCATE TABLE #Customers;

            ;WITH HierarchyChain AS (
                SELECT U.UserCode, U.RoleId
                FROM dbo.Users U
                WHERE U.UserCode = @UserCode AND U.RoleId = 5 AND U.CompanyCode = @CompanyCode
                UNION ALL
                SELECT C.UserCode, C.RoleId
                FROM dbo.Users C
                INNER JOIN HierarchyChain HC ON C.RepManCode = HC.UserCode
                WHERE C.CompanyCode = @CompanyCode AND C.IsActive = 1
            )
            INSERT INTO #Customers (UserCode, CompanyCode, UserType, Name, Email, RepManCode, IsActive, RoleId, UserId)
            SELECT U.UserCode, U.CompanyCode, U.UserType, U.Name, U.Email, U.RepManCode, U.IsActive, U.RoleId, U.UserId
            FROM dbo.Users U
            INNER JOIN HierarchyChain HC ON U.UserCode = HC.UserCode
            WHERE U.RoleId = 1 AND U.CompanyCode = @CompanyCode AND U.IsActive = 1;

            SELECT COUNT(1) AS TotalCount FROM #Customers;

            SELECT *
            FROM #Customers
            ORDER BY UserCode
            OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
            RETURN;
        END

        ---------------------------------------------------------------------
        -- BHM (6)
        ---------------------------------------------------------------------
        IF @RoleId = 6
        BEGIN
            TRUNCATE TABLE #Customers;

            ;WITH HierarchyChain AS (
                SELECT U.UserCode, U.RoleId
                FROM dbo.Users U
                WHERE U.UserCode = @UserCode AND U.RoleId = 6 AND U.CompanyCode = @CompanyCode
                UNION ALL
                SELECT C.UserCode, C.RoleId
                FROM dbo.Users C
                INNER JOIN HierarchyChain HC ON C.RepManCode = HC.UserCode
                WHERE C.CompanyCode = @CompanyCode AND C.IsActive = 1
            )
            INSERT INTO #Customers (UserCode, CompanyCode, UserType, Name, Email, RepManCode, IsActive, RoleId, UserId)
            SELECT U.UserCode, U.CompanyCode, U.UserType, U.Name, U.Email, U.RepManCode, U.IsActive, U.RoleId, U.UserId
            FROM dbo.Users U
            INNER JOIN HierarchyChain HC ON U.UserCode = HC.UserCode
            WHERE U.RoleId = 1 AND U.CompanyCode = @CompanyCode AND U.IsActive = 1;

            SELECT COUNT(1) AS TotalCount FROM #Customers;

            SELECT *
            FROM #Customers
            ORDER BY UserCode
            OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
            RETURN;
        END

        ---------------------------------------------------------------------
        -- Business Admin (7)
        ---------------------------------------------------------------------
        IF @RoleId = 7
        BEGIN
            TRUNCATE TABLE #Customers;

            INSERT INTO #Customers (UserCode, CompanyCode, UserType, Name, Email, RepManCode, IsActive, RoleId, UserId)
            SELECT U.UserCode, U.CompanyCode, U.UserType, U.Name, U.Email, U.RepManCode, U.IsActive, U.RoleId, U.UserId
            FROM dbo.Users U
            WHERE U.RoleId = 1 AND U.CompanyCode = @CompanyCode AND U.IsActive = 1;

            SELECT COUNT(1) AS TotalCount FROM #Customers;

            SELECT *
            FROM #Customers
            ORDER BY UserCode
            OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
            RETURN;
        END
    END TRY
    BEGIN CATCH
        INSERT INTO ErrorLog (ErrorProcedure, ErrorMessage, ErrorSeverity, ErrorState, ErrorDate)
        VALUES ('GetHierarchyByUser_RSM', ERROR_MESSAGE(), ERROR_SEVERITY(), ERROR_STATE(), GETDATE());
    END CATCH
END
GO
