USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetProfileImageById]    Script Date: 8/4/2025 10:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetProfileImageById]

  @UserCode NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ImageId,
        UserCode,
        ImageURL,
        CreatedOn,
        CompanyCode
    FROM TB_ProfileImages
    WHERE UserCode = @UserCode;
END;
GO
