USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetTMDealerList_NEW]    Script Date: 9/30/2025 3:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetTMDealerList_NEW]
   @CompanyCode BIGINT,
   @UserCode NVARCHAR(50),
   @RoleId INT,
   @Offset INT = 0,      -- NEW
   @PageSize INT = 25    -- NEW
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @FetchRoleId INT;
    DECLARE @ActualRoleIdfor5_6_7_8 INT;

    -- Ensure a clean temp table
    IF OBJECT_ID('tempdb..#Out') IS NOT NULL DROP TABLE #Out;

    CREATE TABLE #Out
    (
        [UserCode]    NVARCHAR(50)  NOT NULL,
        [CompanyCode] BIGINT        NOT NULL,
        [UserType]    NVARCHAR(50)  NULL,
        [Name]        NVARCHAR(200) NULL,
        [Email]       NVARCHAR(256) NULL,
        [RepManCode]  NVARCHAR(50)  NULL,
        [IsActive]    BIT           NOT NULL,
        [RoleId]      INT           NOT NULL,
        [UserId]      BIGINT        NOT NULL
    );

    SELECT @ActualRoleIdfor5_6_7_8 = RoleId
    FROM [dbo].[Users]
    WHERE CompanyCode = @CompanyCode
      AND UserCode    = @UserCode;

    BEGIN TRY
        ---------------------------------------------------------------------
        -- Branch 1: If caller is NSM/BHM/Admin (5/6/7) AND asks for 4/3/2,
        --            return all users of that requested role (company-wide).
        ---------------------------------------------------------------------
        IF @ActualRoleIdfor5_6_7_8 IN (5,6,7)
           AND @RoleId IN (4,3,2)
        BEGIN
            INSERT INTO #Out (UserCode, CompanyCode, UserType, [Name], Email, RepManCode, IsActive, RoleId, UserId)
            SELECT
                U.[UserCode],
                U.[CompanyCode],
                U.[UserType],
                U.[Name],
                U.[Email],
                U.[RepManCode],
                U.[IsActive],
                U.[RoleId],
                U.[UserId]
            FROM [dbo].[Users] U
            WHERE U.CompanyCode = @CompanyCode
              AND U.RoleId      = @RoleId;
        END
        ELSE
        BEGIN
            -----------------------------------------------------------------
            -- Branch 2: Map requested @RoleId to the "next level down"
            --   4(ZM) -> 3(RM)
            --   3(RM) -> 2(TM)
            --   2(TM) -> 1(Customer)
            -----------------------------------------------------------------
            IF @RoleId = 4      SET @FetchRoleId = 3;
            ELSE IF @RoleId = 3 SET @FetchRoleId = 2;
            ELSE IF @RoleId = 2 SET @FetchRoleId = 1;
            ELSE                SET @FetchRoleId = NULL;

            IF @FetchRoleId IS NULL
            BEGIN
                RAISERROR('Invalid RoleId provided', 16, 1);
            END
            ELSE
            BEGIN
                INSERT INTO #Out (UserCode, CompanyCode, UserType, [Name], Email, RepManCode, IsActive, RoleId, UserId)
                SELECT
                    U.[UserCode],
                    U.[CompanyCode],
                    U.[UserType],
                    U.[Name],
                    U.[Email],
                    U.[RepManCode],
                    U.[IsActive],
                    U.[RoleId],
                    U.[UserId]
                FROM [dbo].[Users] U
                WHERE U.CompanyCode = @CompanyCode
                  AND U.[RepManCode] = @UserCode
                  AND U.RoleId       = @FetchRoleId;
            END
        END

        -- 🔹 Result set 1: total count
        SELECT COUNT(1) AS TotalCount FROM #Out;

        -- 🔹 Result set 2: paged rows (keep original ORDER BY RoleId DESC; add tie-breaker)
        SELECT *
        FROM #Out
        ORDER BY RoleId DESC, UserCode
        OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        INSERT INTO ErrorLog (ErrorProcedure, ErrorMessage, ErrorSeverity, ErrorState, ErrorDate)
        VALUES ('GetTMDealerList_NEW', @ErrorMessage, @ErrorSeverity, @ErrorState, GETDATE());

        -- bubble a minimal error
        SELECT -1 AS ResultCode, @ErrorMessage AS Message;
    END CATCH
END
GO
