USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetProductOffering_CompanyCode_Crop]    Script Date: 9/22/2025 1:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetProductOffering_CompanyCode_Crop]
    @CompanyCode   INT,
    @Crop          NVARCHAR(40),
    @CustomerCode  NVARCHAR(50)   -- NEW: align with MASL proc
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @CurrentDate   DATE = CAST(GETDATE() AS DATE);
        DECLARE @SalesOrg      NVARCHAR(10) = N'AG01';
        DECLARE @CustomerRegion NVARCHAR(50);

        -- Resolve region for incoming customer (same as MASL)
        SELECT TOP (1)
               @CustomerRegion = LTRIM(RTRIM(Region))
        FROM TB_CustomerMaster WITH (NOLOCK)
        WHERE CompanyCode  = @CompanyCode
          AND CustomerCode = @CustomerCode;

        -- Keep full priority (A860,A935,A933,A862,A559) same as MASL
        DECLARE @ConditionTablePriority TABLE (PriorityOrder INT, ConditionTable NVARCHAR(5));
        INSERT INTO @ConditionTablePriority (PriorityOrder, ConditionTable)
        VALUES (1,'A860'),(2,'A935'),(3,'A933'),(4,'A862'),(5,'A559');

        ;WITH ValidProducts AS (
            SELECT 
                PM.CompanyCode,
                ISNULL(PM.ProductId, PI.ProductId) AS ProductId,
                PM.Material_Number,
                PM.Material_Description,
                PM.Crop,
                PM.Variety,
                PM.Stage,
                PM.Grade,
                PM.Unit_Of_Measurement,
                PI.APIURL AS ImagePath,
                PM.Priority,
                PM.PackSize,
                PM.DIVISION
            FROM TB_PriceMaster PM WITH (NOLOCK)
            LEFT JOIN TB_ProductImages PI WITH (NOLOCK)
              ON PM.CompanyCode = PI.CompanyCode
             AND (
                    PM.Material_Description LIKE PI.ProductName + '%'
                 OR PM.Material_Description LIKE '%' + PI.ProductName + '%'
                 )
            WHERE PM.CompanyCode = @CompanyCode
              AND UPPER(LTRIM(RTRIM(PM.Crop))) = UPPER(LTRIM(RTRIM(@Crop)))
              AND PM.Condition_Type = 'ZBAG'
              AND (@CurrentDate >= PM.Valid_From OR PM.Valid_From IS NULL)
              AND (@CurrentDate <= PM.Valid_To   OR PM.Valid_To   IS NULL)
              AND (PM.Deletion_Indicator IS NULL OR PM.Deletion_Indicator NOT LIKE '%X%')
              AND UPPER(LTRIM(RTRIM(PM.Crop))) <> 'UNKNOWN'
              AND PI.APIURL IS NOT NULL
        ),
        ProductConditions AS (
            SELECT
                VP.Material_Number,
                VP.Material_Description,
                ctp.PriorityOrder,
                ctp.ConditionTable,
                bag.Condition_Amount AS BagAmount,
                dis.Condition_Amount AS DisAmount,
                dis.Condition_Unit   AS DisUnit,
                CASE 
                    WHEN dis.Condition_Amount IS NOT NULL AND dis.Condition_Unit = '%'
                        THEN bag.Condition_Amount - (bag.Condition_Amount * dis.Condition_Amount / 100.0)
                    WHEN dis.Condition_Amount IS NOT NULL AND (dis.Condition_Unit <> '%' OR dis.Condition_Unit IS NULL)
                        THEN bag.Condition_Amount - dis.Condition_Amount
                    ELSE bag.Condition_Amount
                END AS CalculatedPrice,
                ROW_NUMBER() OVER (PARTITION BY VP.Material_Number ORDER BY ctp.PriorityOrder) AS ConditionPriorityRank
            FROM ValidProducts VP
            JOIN @ConditionTablePriority ctp ON 1=1

            -- ZBAG (base) scoped like MASL
            LEFT JOIN TB_PriceMaster bag WITH (NOLOCK)
              ON bag.CompanyCode       = @CompanyCode
             AND bag.Material_Number   = VP.Material_Number
             AND bag.Condition_Table   = ctp.ConditionTable
             AND bag.Condition_Type    = 'ZBAG'
             AND bag.SalesOrganisation = @SalesOrg
             AND (
                   (ctp.ConditionTable = 'A860' AND bag.Customer_Number = @CustomerCode)
                OR (ctp.ConditionTable = 'A935' AND bag.Region = @CustomerRegion)
                OR (ctp.ConditionTable = 'A933')
                OR (ctp.ConditionTable = 'A862')
                OR (ctp.ConditionTable = 'A559')
                 )
             AND (@CurrentDate >= bag.Valid_From OR bag.Valid_From IS NULL)
             AND (@CurrentDate <= bag.Valid_To   OR bag.Valid_To   IS NULL)
             AND (bag.Deletion_Indicator IS NULL OR bag.Deletion_Indicator NOT LIKE '%X%')

            -- ZDIS (discount) matched to same scope
            LEFT JOIN TB_PriceMaster dis WITH (NOLOCK)
              ON dis.CompanyCode       = bag.CompanyCode
             AND dis.Material_Number   = bag.Material_Number
             AND dis.Condition_Table   = bag.Condition_Table
             AND dis.Condition_Type    = 'ZDIS'
             AND dis.SalesOrganisation = bag.SalesOrganisation
             AND (
                   (ctp.ConditionTable = 'A860' AND dis.Customer_Number = @CustomerCode)
                OR (ctp.ConditionTable = 'A935' AND dis.Region = @CustomerRegion)
                OR (ctp.ConditionTable IN ('A933','A862','A559'))
                 )
             AND (@CurrentDate >= dis.Valid_From OR dis.Valid_From IS NULL)
             AND (@CurrentDate <= dis.Valid_To   OR dis.Valid_To   IS NULL)
             AND (dis.Deletion_Indicator IS NULL OR dis.Deletion_Indicator NOT LIKE '%X%')

            WHERE bag.Condition_Amount IS NOT NULL
        ),
        RankedProductWithPrice AS (
            SELECT
                VP.*,
                PC.CalculatedPrice AS Condition_Amount,
                ROW_NUMBER() OVER (
                    PARTITION BY VP.Material_Number 
                    ORDER BY PC.ConditionPriorityRank
                ) AS PriceRank
            FROM ValidProducts VP
            JOIN ProductConditions PC
              ON VP.Material_Number = PC.Material_Number
             AND PC.ConditionPriorityRank = 1
        )
        SELECT 
            CompanyCode,
            Material_Number,
            Material_Description,
            Crop,
            Variety,
            Stage,
            Grade,
            Unit_Of_Measurement,
            ImagePath,
            Condition_Amount,
            PackSize,
            Division
        FROM RankedProductWithPrice
        WHERE PriceRank = 1
        ORDER BY Priority ASC;
    END TRY
    BEGIN CATCH
        INSERT INTO ErrorLog_GetProductOffering
        (
            ErrorMessage, ErrorSeverity, ErrorState, ProcedureName, ErrorLine, ErrorDate
        )
        VALUES (ERROR_MESSAGE(), ERROR_SEVERITY(), ERROR_STATE(), 'GetProductOffering_CompanyCode_Crop', ERROR_LINE(), GETDATE());

        SELECT 
            NULL AS CompanyCode,
            NULL AS Material_Number,
            NULL AS Material_Description,
            NULL AS Crop,
            NULL AS Variety,
            NULL AS Stage,
            NULL AS Grade,
            NULL AS Unit_Of_Measurement,
            NULL AS ImagePath,
            NULL AS Condition_Amount,
            NULL AS PackSize,
            NULL AS Division;
    END CATCH;
END
GO
