/****** Object:  Table [dbo].[TB_ProductImages]    Script Date: 29/07/2025 11:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_ProductImages](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NULL,
	[ImageURL] [nvarchar](max) NOT NULL,
	[APIURL] [nvarchar](max) NULL,
	[CompanyCode] [bigint] NULL,
 CONSTRAINT [PK_TB_ProductImages] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TB_ProductImages] ON 

INSERT [dbo].[TB_ProductImages] ([ProductId], [ProductName], [ImageURL], [APIURL], [CompanyCode]) VALUES (1, N'HYB PADDY MP 3030 PACK SEED', N'e7b79cb8-f1d7-4065-b827-648fafe1c0ef_HYB_PADDY_MP_3030_PACK_SEED.png', N'https://mazuagricussap01.azurewebsites.net/BannerImages/api/ProductImage/image/1', 1049)
INSERT [dbo].[TB_ProductImages] ([ProductId], [ProductName], [ImageURL], [APIURL], [CompanyCode]) VALUES (2, N'HYB PADDY MP 3030 PLUS PACK SEED', N'472134d3-f0d5-4a14-ad4e-20457b44307f_HYB_PADDY_MP_3030_PLUS_PACK_SEED.png', N'https://mazuagricussap01.azurewebsites.net/BannerImages/api/ProductImage/image/2', 1049)
INSERT [dbo].[TB_ProductImages] ([ProductId], [ProductName], [ImageURL], [APIURL], [CompanyCode]) VALUES (3, N'HYB PADDY MP 3033 PACK SEED', N'ff599d5c-9724-48da-9e15-60fd4e11bfd0_HYB_PADDY_MP_3033_PACK_SEED.png', N'https://mazuagricussap01.azurewebsites.net/BannerImages/api/ProductImage/image/3', 1049)
SET IDENTITY_INSERT [dbo].[TB_ProductImages] OFF
GO
